{% extends 'base.html' %}

{% block top-nav %}
    <nav class="navbar navbar-expand-lg border-bottom bg-dark">
    {% if user.is_authenticated %}
        <a class="nav-link text-white" href="{% url 'app_todo:new' %}">Todo List 작성</a>
        <a class="nav-link text-white" href="{% url 'app_todo:index' %}">진행 중인 목록</a>
        <a class="nav-link text-white" href="{% url 'app_todo:complete' %}">완료된 목록</a>
        <a class="nav-link text-white" href="{% url 'app_todo:dead' %}">오늘 마감인 목록</a>

        <a class="nav-link text-white ml-auto border rounded mx-1" href="{% url 'app_user:message' %}">
            {% if user.messagebox.unread != 0  %}
                <i class="fa fa-envelope-open"></i> {{ user.messagebox.unread }}
            {% else %}
                <i class="fa fa-envelope"></i>
            {% endif %}
        </a>
        <div class="dropdown" style="border-radius: 4px;">
            <button class="py-auto btn btn-outline-secondary dropdown-toggle" role="button" data-toggle="dropdown">
                <span class="text-white"><i class="fa fa-user"></i> {{ user.username }}</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'app_user:signout' %}">Sign Out</a>
            </div>
        </div>
    {% else %}
        <a class="nav-link text-white" href="{% url 'app_main:index' %}">Home</a>
        <a class="nav-link text-white ml-auto" href="{% url 'app_user:signin' %}">Sign In</a>
    {% endif %}
    </nav>

    {% if not user.is_authenticated %}
        {% block signup %}{% endblock %}
    {% endif %}
{% endblock %}