{% extends 'base.html' %}

{% block content %}

<div class="position-relative full-screen">
    <div class="position-absolute w-60 py-1" style="left: 50%; top: 1rem; transform: translateX(-50%);">
        <div class="border p-4 rounded">
            <div class="pb-3 pl-3">
                <span class="h3 border-bottom">{{ todo.title }}</span>
                <sup class="badge status">{% if todo.is_finish %}완료{% else %}진행{% endif %}</sup>
            </div>
            <div class="text-right"> 기한 : {% if todo.deadline %}{{ todo.deadline|date:'Y/m/d' }}{% else %}없음{% endif %}</div>

            <div class="bg-white p-3 border-top" id="block-wrap">
                <pre>{{ todo.content }}</pre>
            </div>
        </div>

        <div class="position-relative mt-2">
            <div class="position-absolute" style="right: 0;">

                <button class="btn border bg-white" id="ajax-todo-delete" title="삭제" value="{{todo.id}}"><i
                        class="fa fa-trash"></i></button>
                {% if not todo.is_finish %}
                    <a class="btn border link" href="{% url 'app_todo:edit' todo.id %}" title="수정"><i class="fa fa-edit"></i></a>
                    <button class="btn border bg-white" id="ajax-todo-finish" title="완료" value="{{todo.id}}"><i
                        class="fa fa-check"></i></button>
                {% else %}
                    <button class="btn border bg-white" id="ajax-todo-not-finish" title="완료 취소" value="{{todo.id}}"><i
                        class="fa fa-times"></i></button>
                {% endif %}

                <a href="{% url 'app_todo:index' %}" class="btn border link" title="홈으로"><i class="fa fa-home"></i></a>
            </div>
        </div>

    </div>
    {% load static %}
    <script src="{% static 'js/csrf.js' %}"></script>
</div>
{% endblock %}