{% extends 'base.html' %}
{% load static %}

{% block script %}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}

{% block content %}
    <span class="d-block h2 my-3">Todo List : {{ todo.title }} 수정하기</span>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mb-2 form-control bg-light pointer-cursor">작성</button>
        <a href="{% url 'app_main:index' %}" class="form-control text-center link">취소</a>
    </form>
{% endblock %}