{% extends 'base.html' %}

{% block content %}
    <div class="d-flex">
        <span class="d-block h2 my-3">진행 중인 목록</span>
        <a href="{% url 'app_todo:index' %}" class="btn ml-auto my-auto bg-light">확인</a>
    </div>
    <div id="todo-field">
        {% for todo in todo_list|dictsort:'priority' %}
            <div class="input-group form-group">
                {% if todo.deadline != None and today > todo.deadline|date:'Y.m.d' %}
                    <span class="input-group-text" id="bg-red"><i class="fa fa-exclamation"></i>{{ todo.priority }}</span>
                {% else %}
                    <span class="input-group-text">{{ todo.priority }}</span>
                {% endif %}
                <a href="{% url 'app_todo:detail' todo.id %}" class="form-control d-flex link">
                    <span class="">{{ todo.title }}</span>
                    <span class="ml-auto">{{ todo.deadline|date:'Y년 m월 d일까지' }}</span>
                </a>
                <div class="input-group-append">
                    <button class="btn bg-white border pri" name="up" value="{{ todo.id }}"><i class="fa fa-arrow-up"></i></button>
                    <button class="btn bg-white border pri" name="down" value="{{ todo.id }}"><i class="fa fa-arrow-down"></i></button>
                    <button class="btn bg-delete border delete-todo" value="{{ todo.id }}"><i class="fa fa-times"></i></button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}