{% extends 'base.html' %}

{% block content %}
    <div class="d-flex">
        <span class="d-block h2 my-3">진행 중인 목록</span>
        {% if todo_list %}
            <a href="{% url 'app_todo:index_edit' %}" class="btn ml-auto my-auto bg-light">수정</a>
        {% endif %}
    </div>
    {% if not todo_list %}
        <p>작성된 리스트가 없습니다.</p>
    {% endif %}
    <div id="todo-field">
        {% for todo in todo_list|dictsort:'priority' %}
            <div class="input-group form-group">
                {% if todo.deadline != None and today > todo.deadline|date:'Y.m.d' %}
                    <span class="input-group-text" id="bg-red">{{ todo.priority }}</span>
                {% else %}
                    <span class="input-group-text">{{ todo.priority }}</span>
                {% endif %}
                <a href="{% url 'app_todo:detail' todo.id %}" class="form-control d-flex link">
                    <span>{{ todo.title }}</span>
                    <span class="ml-auto">{{ todo.deadline|date:'Y년 m월 d일까지' }}</span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}