{% extends 'base.html' %}

{% block content %}
<div class="position-relative full-screen">
    <div class="position-absolute w-60 py-1" style="left: 50%; top: 1rem; transform: translateX(-50%);">

        <div class="position-relative">
            <div class="position-absolute">
                <button class="btn type-filter">전체</button>
                <button class="btn type-filter">진행</button>
                <button class="btn type-filter">완료</button>
                <button class="btn type-filter">오늘</button>
            </div>
            <div class="position-absolute other-func" style="right:0;">
                <button class="btn w-prior"><i class="fa fa-ellipsis-v"></i></button>
                <div class="drop p-0 m-0" style="right:0;">
                    <a href="{% url 'app_todo:new' %}" class="btn drop-item">작성</a>
                </div>
            </div>
        </div>

        <div class="pt-5">
            {% if not todo_list %}<p>작성된 리스트가 없습니다.</p>
            {% else %}
                {% include 'app_todo/_all_list.html' with list=todo_list %}
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}