.link:hover {
    text-decoration: none;
}
.link {
    color: black;
}
.pointer-cursor{
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: white;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}