.w-60 {width: 60%;}
.w-prior {width: 3rem;}
.full-height {
    height: 90vh;
}
.signup {
    width: 45%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
.prior-3 {background-color: rgba(255, 0, 0, 0.5);}
.prior-2 {background-color: rgba(255, 128, 128, 0.5);}
.prior-1 {background-color: rgba(255, 192, 192, 0.5);}
.prior-0 {background-color: rgba(250, 250, 250, 1);}

.drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 6rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-item {
    width: 100%;
    text-align: center;
    color: black;
    background-color: white;
    border-bottom: 0.05rem solid lightgrey;
}
.drop-item:hover {
    background-color: rgb(245, 245, 245);
}
.drop-item:visited {
    color: black;
}

.show { display: block;}
.badge {
    background-color: rgb(192, 255, 192);
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

.finish {
    text-decoration: line-through;
}
.finish a{
    color: rgb(192, 192, 192);
    background-color: rgba(224, 224, 224, 0.3);
}
.finish button {
    background-color: rgba(224, 224, 224, 0.3);
}









.form-group textarea {
    height: 200px;
}
#block-wrap {
    overflow:hidden;
    word-wrap:break-word;
}
.link:hover {
    text-decoration: none;
}
.link {
    color: black;
}
.pointer-cursor {cursor: pointer;}
