{% extends 'layout.html' %}

{% block content %}
    <div class="mt-5">
        <div class="alert alert-primary text-center" role="alert">
            {% if not message %}Nice to Meet you!
            {% else %}{{ message }}
            {% endif %}
        </div>
        <div class="border radius p-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">username</label>
                    <input id="username" type="text" class="form-control" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="password">
                </div>
                <input type="submit" class="form-control cursor-pointer" value="Sign In">
            </form>
        </div>
    </div>
    <span class="d-block mt-3 text-right">계정이 없으면 <a href="{%  url 'app_main:index' %}">여기</a>를 눌러 가입을 진행하시기 바랍니다.</span>
{% endblock %}