{% extends 'layout.html' %}

{% block signup %}
    <div class="ml-auto col-lg-6 border p-3">
        <form action="{% url 'app_user:signup' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="lastName">이름</label>
                <div class="d-flex">
                    <input id="lastName" type="text" class="form-control" name="lastName" placeholder="ex) 홍">
                    <input id="firstName" type="text" class="form-control" name="firstName" placeholder="ex) 길동">
                </div>
            </div>

            <div class="form-group">
                <label for="username">아이디</label>
                <div class="input-group">
                    <input id="username" type="text" class="form-control" name="username">
                    <div class="input-group-append">
                        <button type="button" class="btn user-check"><i class="fa fa-user"></i></button> <!--  text-success -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">비밀번호 (6자리 이상)</label>
                <div class="input-group">
                    <input id="password" type="password" class="form-control" name="password">
                    <div class="input-group-append">
                        <span class="input-group-text password1"><i class="fa fa-check"></i></span><!--  text-success -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password2">비밀번호 확인 (6자리 이상)</label>
                <div class="input-group">
                    <input id="password2" type="password" class="form-control" name="password">
                    <div class="input-group-append">
                        <span class="input-group-text password2"><i class="fa fa-check"></i></span><!--  text-success -->
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <input type="submit" class="form-control" value="Sign Up">
            </div>

        </form>
    </div>
{% endblock %}